* {
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 42, 61);
    color: whitesmoke;
    font-family: Raleway;
}

.title {
    margin-top: 80px;
    text-align: center;
    font-size: 300%;
    text-shadow: 2px 3px 5px white;
}

.title h1 {
    color: orange;
}

.player {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    width: 500px;
    height: 120px;
    margin: 70px auto 0 auto;
    gap: 40px;
    justify-content: center;

}

#icon {
    display: inline;
    width: 120px;
    height: 120px;
    justify-content: center;
    border-radius: 60px;
    background-color: orange;
    color: white;
    font-size: 20px;
    transition: 0.15s;
}

#icon:hover {
    cursor: pointer;
    background-color: rgb(221, 148, 11);
}

#icon:active {
    cursor: pointer;
    background-color: white;
    color: orange;
}

#reset {
    margin: 0 50%;
    transform: translate(-50%);
    display: inline;
    width: 80px;
    height: 60px;
    justify-content: center;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: 15px;
    transition: 0.15s;
}

#reset:hover {
    cursor: pointer;
    background-color: rgb(221, 148, 11);
}

#reset:active {
    cursor: pointer;
    background-color: white;
    color: orange;
}