* {
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 42, 61);
    color: whitesmoke;
    font-family: Raleway;
    text-shadow: 1px 2px 3px black;
}

.title {
    margin-top: 50px;
    text-align: center;
    font-size: 300%;
    text-shadow: 1px 2px 3px black;
}

h1 {
    color: orange;
}

#outcome {
    margin-top: 40px;
}

.score {
    margin-top: 20px;
    margin-bottom: 20px;
}

.player {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    width: 500px;
    height: 120px;
    margin: 70px auto 0 auto;
    gap: 40px;
    justify-content: center;

}

#icon {
    display: inline;
    width: 120px;
    height: 120px;
    justify-content: center;
    border-radius: 60px;
    background-color: rgb(116, 92, 53);
    color: white;
    font-size: 20px;
    transition: 0.15s;
    text-shadow: 1px 2px 3px black;
    border: 3px solid orange;
}

#icon:hover {
    cursor: pointer;
    background-color: rgb(221, 148, 11);
}

#icon:active {
    cursor: pointer;
    background-color: white;
    color: orange;
}



#reset,
#score {
    margin: 0 50%;
    transform: translate(-50%);
    display: inline;
    width: 80px;
    height: 60px;
    justify-content: center;
    border-radius: 5px;
    background-color: orange;
    color: white;
    font-size: 15px;
    transition: 0.15s;
    margin-bottom: 20px;
}

#reset:hover,
#score:hover {
    cursor: pointer;
    background-color: rgb(221, 148, 11);
}

#reset:active,
#score:active {
    cursor: pointer;
    background-color: white;
    color: orange;
}

#score {
    width: 140px;
}

#reset {
    margin-top: 20px;
}

@media only screen and (max-width:650px) {

    .title {
        font-size: 40px;
    }
}